*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 5px auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0 6px 20px 2px;
    border-radius: 5px;
    padding: 5px 10px;
}
.logo img {
    width: 50px;
    border: 1px solid #878787;
    border-radius: 50%;
    box-shadow: 0px 3px 10px 0px;
}
.menu ul {
    display: flex
;
    list-style: none;
}
.menu ul li {
    margin: 5px;
    font-size: 25px;
    font-family: monospace;
    padding: 2px 10px;
    cursor: pointer;
    transition: ease 0.5s;
}
.menu ul li a, .logo a{
    text-decoration: none;
    color: black;
}
.menu ul li:hover{
    background: rgb(225, 255, 225);
    display: block;
}
.menu ul li:hover .dorp_down ul{
    display: block;
}
.dorp_down {
    position: absolute;
    width: 200px;
    margin: 5px;
    transition: ease 0.5s;
    z-index: 1 !important;
}
.dorp_down ul {
    display: none;
    text-align: center;
    position: absolute;
    top: -5px;
    background: #f1f1f1;
    box-shadow: 3px 6px 17px 0px #878787;
    left: -5px;
    padding: 8px 16px;
    border-radius: 3px;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pagess {
    height: unset !important;
    background: #fff;
    border: 1px dotted #939393;
    border-radius: 3px;
    box-shadow: 0px 1px 24px 0px #787878;
    text-align: right;
}
.page-head {
    width: 100%;
    display: flex;
    font-size: 12px;
    margin: 5px 0 0 0;
    justify-content: space-around;
    align-items: center;
}
.page-body {
    border: 1px solid;
    border-radius: 3px;
}
.line {
    position: relative;
    border: 1px solid #656464;
    margin: 1px;
}
span.hedden {
    color: rgba(255, 255, 255, 0);
    position: absolute;
    right: 0;
}
span.arabic {
    font-size: 16px;
    margin-right: 5px;
}
span.ban {
    font-size: 12px;
    font-weight: 100;
}
.text {
    display: none;
}





@media only screen and (max-width: 1222px){
    .container{
        width: 100%;
        margin: 5px;
    }
}
@media only screen and (max-width: 800px) {
    nav {
        display: none;
    }
    body::-webkit-scrollbar{
        width: 0;
    }
    .container{
        width: 98%;
        margin: 5px;
    }
    .logo img{
        width: 25px;
    }
    .menu i{
        display: block !important;
        cursor: pointer;
        font-size: 25px;
    }
    .menu ul{
        display: none;
    }
    ul.active {
        display: block;
        position: absolute;
        background: #fdfdfd;
        box-shadow: 0px 5px 13px 0px;
        border-radius: 3px;
        width: 170px;
        top: 70px;
        right: 0;
    }
    .dorp_down ul{
        left: -35px;
    }
    .menu ul li:hover .dorp_down ul{
        display: none;
    }
    .clickblock{
        display: block !important;
    }
    .pages{
        flex-direction: column !important;
        position: relative;
    }
    .pagess{
        margin: 55px auto !important;
    }
    .page-body{
        margin: 15px 5px;
    }
    .line {
        margin: 1px;
        padding: 5px 0 0 0;
        position: relative;
        height: 50px;
    }
    .line span {
        position: absolute;
        /* background: #fff; */
        height: 100%;
        text-align: center;
        right: 0;
        padding: 2px 5px;
    }
    span.arabic {
        font-size: 13px;
    }
    span.hedden{
        color: rgba(255, 255, 255, 0);
    }
    span.ban,hr {
        display: none;
    }
    span.ban {
        font-size: 12px;
        font-weight: 100;
        bottom: -4px;
        height: unset !important;
    }
    .activee{
        position: absolute;
        display: block !important;
        width: 100%;
        font-size: 8px;
        bottom: 15px;
    }
    mark#mark {
        color: #fff;
    }

    .text {
        width: 18%;
        display: flex !important;
        align-items: center;
        justify-content: space-around;
    }
    .page-fotter {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 5px;
    }

    .flipbook {
        display: none;
    }
    .pages{
        display: block !important;
    }
    .btn{
        width: 46% !important;
        font-size: 15px !important;
        padding: 0 !important;
    }
    button.btn.record {
        width: 53% !important;
    }

    .logo {
        display: none;
    }
    .mbaile-menu {
        background: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0px 0px 10px 5px #a7a7a7;
        border-radius: 5px;
        padding: 5px;
        position: fixed;
        width: 98%;
        height: 45px;
        bottom: 2px;
        z-index: 9999 !important;
    }
    .mbaile-menu img {
        width: 40px;
        cursor: pointer;
    }
    .alQuran {
        border: 1px solid #afafaf;
        width: 98%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 5px;
        text-align: center;
    }
    .alQuran div {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    .alQuran span{
        border: 1px solid #e9e9e9;
        border-radius: 3px;
        margin: 3px;
        padding: 3px;
        cursor: pointer;
    }
    .alQuranSura span a {
        color: black;
        text-decoration: none;
    }

    .page-body.sura-fateha span,.page-body.sura-bakara span {
        text-align: center;
        left: 0;
        font-size: 21px;
    }
    .page-body.sura-fateha .line:first-child,.page-body.sura-bakara .line:first-child{
        border-bottom: none !important;
    }
    .page-body.sura-fateha .line:nth-child(2),.page-body.sura-bakara .line:nth-child(2){
        border-top: none !important;
    }
    div#sura-bakara {
        height: unset !important;
    }
}
